{%- liquid
  assign target = product | default: false
  if target == false
    assign target = variant
  endif

  assign on_sale = false
  if target.compare_at_price > target.price
    assign on_sale = true
  endif

  assign has_range = false
  if product and product.price_varies
    assign has_range = true
  endif
-%}

<div class="price{% if on_sale %} price--on-sale{% endif %}">
  {%- if has_range -%}
    <span class="price__from">{{ 'products.product.from_price' | t: price: '' }}</span>
    <span class="price__sale">{{ product.price | money }}</span>
  {%- else -%}
    {%- if on_sale -%}
      <span class="price__sale">{{ target.price | money }}</span>
      <s class="price__compare">{{ target.compare_at_price | money }}</s>
    {%- else -%}
      <span class="price__regular">{{ target.price | money }}</span>
    {%- endif -%}
  {%- endif -%}
</div>
